<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<div class="container  w-full mx-auto bg-white shadow-lg p-6 mt-4 rounded-lg">
  <h2 class="text-xl font-semibold mb-4">Upload Documents</h2>
<%= form_with(model: employee, url: employees_path, method: :post) do |form| %>
  
<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="small_size">Resume/CV  </label>
<span class="text-gray-400">A document detailing the candidate's educational background, work experience, skills, etc.</span>
<input class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="small_size" type="file">

<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Educational Certificates/Diplomas</label><span class="text-gray-400"> Scans or copies of certificates or diplomas obtained from educational institutions.</span>
<input class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="default_size" type="file">

<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="large_size">Identification Document</label><span class="text-gray-400">A copy of a government-issued identification document such as a driver's license, passport, or national ID card.</span>
<input class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="large_size" type="file">
<div class="text-right mt-4">
      <%= form.submit 'Save Personal Info', class: "px-4 py-2 bg-indigo-600 text-white rounded-md shadow-md hover:bg-indigo-700"%>
    </div>	
<% end %>
</div>