<body>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <div class="relative  w-10/12 mx-auto">
      <div class="flex mt-32 mx-auto">
    <div class="w-3/4">
        <h1 class="font-bold text-5xl font-fantasy">Your Trusted Partner for Employee Background Verification</h1>
        <p class="text-lg pt-4">We understand the critical importance of hiring the right talent for your organization. That's why we specialize in providing comprehensive background verification services tailored to meet your specific needs. Our mission is to empower businesses like yours to make informed hiring decisions with confidence and peace of mind.</p>
    </div>
    <div class="w-2/4 ml-8">
        <%= image_tag("hero.png", class: "w-full rounded-lg", alt: "Background Image") %>
    </div>
  </div>
  <div> 
  <h1>
      
  </h1>
  </div>

    </div>
</body>
